.card {
  height: 100px;
  width: 50%;

  color: #fff;

  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 24px;
  background: #735bf2;
  border-radius: 10px;
}

.btn{
  margin: 0px;
  width: 30px;
  height: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.icon-trash{
  margin: 0;
  width: 30px;
  height: 30px; 
}
